.footer {
  // display: block;
  // position: absolute;
  // margin: 0;
  // padding: 0;
  // bottom: 0;
}
.footer__additional-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(189, 186, 186, 0.9);
  list-style-type: none;
}
.footer__additional-information__item-number {
}
.footer__additional-information__item-number__hashtag {
}
.footer__additional-information__item-number__phone {
}
.footer__additional-information__networks {
}
.footer__additional-information__networks__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}
.footer__additional-information__networks__item-twitter {
}
.footer__additional-information__networks__item-twitter__link {
}
.footer__additional-information__networks__item-twitter__img {
}
.footer__additional-information__networks__item-facebook {
}
.footer__additional-information__networks__item-facebook__link {
}
.footer__additional-information__networks__item-facebook__img {
}
.footer__additional-information__networks__item-youtube {
}
.footer__additional-information__networks__item-youtube__link {
}
.footer__additional-information__networks__item-youtube__img {
}
.footer__additional-information__academy-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__additional-information__text-info {
}
.footer__additional-information__academy-img {
}