.header {
  width: 1200px;
  height: 56px;
  margin: 0;
  padding: 0;
}
.header__navigation {
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}
.header__item {
}
.manu__img {
  z-index: 1;
}